{% extends 'base.html.twig' %}

{%  form_theme form _self %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}

    <div class="form-group col-lg-5">

    {{ form_start(form) }}

    {{ form_row(form.titre) }}

    {{ form_row(form.contenu) }}


    <button type="submit" class="btn btn-primary">
        Enregistrer l'article
        <i class="fas fa-save"></i>
    </button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block form_row %}
    <div class="form-group col-lg-12">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class':'form-control form-control-lg'}}) }}
    </div>

{% endblock %}

