{% extends 'base.html.twig' %}

{% block title %}Index des articles{% endblock %}

{% block body %}

    <h1>Bienvenue</h1>
    <h2>Veuillez sélectionner un article </h2>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'1'}) }}">1</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'2'}) }}">2</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'3'}) }}">3</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'4'}) }}">4</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'5'}) }}">5</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'6'}) }}">6</a>
            <a type="button" class="btn btn-secondary" href="{{ path ('afficher_article', {numero:'7'}) }}">7</a>

        </div>
    </div>

{% endblock %}
