{% extends 'base.html.twig' %}

{% block title %}Affichage d'un article{% endblock %}

{% block body %}

        <h1>Article : {{ article.titre }} </h1>
        <h4>Date de rédaction : {{ article.dateCreation|date("d/m/Y") }} </h4>
        <p>Contenu : {{ article.contenu }} </p>
        <h4>Vote formaté en string {{ article.votesString }} </h4>
        <form action="{{ path('article_vote', { id: article.id }) }}" method="POST">
                <div class="vote-arrows vote-arrows-alt flex-fill pt-2" style="min-width: 90px;">
                        <button class="vote-up btn btn-link" name="direction" value="up"><i class="fa fa-solid fa-heart"></i></button>
                        <button class="vote-down btn btn-link" name="direction" value="down"><i class="fa fa-solid fa-poop"></i></button>
                        <span>{{ article.votesString }}</span>
                </div>
        </form>
{% endblock %}