{% extends 'base.html.twig' %}

{% block title %}Affichage d'un article{% endblock %}

{% block body %}

    {% for article in articles %}

        <a class="btn btn-primary" href="{{ path('afficherById', { id: article.id }) }}">
        <h4>Article : {{ article.titre }} </h4></a>
        <h5>Date de rédaction : {{ article.dateCreation|date("d/m/Y") }} </h5>
        <p>Contenu : {{ article.contenu }} </p>
        <span><p>Votes de l'article : {{ article.votesString }}</p></span>
        <br>

    {% endfor %}


{% endblock %}